.nav-wrapper {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BCC0BE;
    box-shadow: 0 1px 2px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    display: flex;
    align-items: center;

}

.start-btn {
    background-color: #BCC0BE;
    box-shadow: 0 1px 2px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    display: flex;
    align-items: center;
    height: 35px;
    font-family: 'Microsoft Sans Serif', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 3px 3px 3px;
}

.start-btn:focus {
    box-shadow: inset 0 1px 2px #fff, /*bottom external highlight*/
    inset 0 -1px 1px #666, /*top external shadow*/ 
     0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
     0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    outline: none;
}

.windows-logo {
    height: 20px;
    margin-right: 3px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-icons-left {
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 1px 0px 2px #fff, /*bottom external highlight*/
    -1px 0px 1px #666, /*top external shadow*/ 
    inset -1px 0px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 1px 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    width: 50px;
    height: 30px;
    margin: 0px 3px 0px 3px;
    display: flex;
    align-items: center;}

    .nav-icons-left-logo {
        height: 20px;
        margin-left: 3px;
    }